__pycache__/
*.py[cod]
.env
.dev/
node_modules/
#frontend/dist/
materials/
data/
accounts.csv
# written by scripts/deploy: your node list, and a rendered overlay holding secrets
deploy/workers
deploy/k8s/local/
.DS_Store
